{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Mentions légales{% endblock %}

{% block body %}
    <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Mentions légales</h1>
{% endblock %}