{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Modifier la sous-catégorie
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Modifier la sous-catégorie</h1>
	    {{form(form)}}
	</div>
{% endblock %}
